<div class="container" style="margin-left:30px; text-align: center">
  <h1>Boards Index</h1>

  <% @boards.each do |b| %>
    <h3><%= link_to b.name, board_path(b) %></h3>
  <% end%>

  <%= link_to 'Create a new Board', new_board_path, class: 'btn btn-primary btn-lg' %>

</div>